<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070409855681-n2ploeb6gjvtt9ggb24tjg3lebo449s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070409855681-n2ploeb6gjvtt9ggb24tjg3lebo449s5</string>
	<key>API_KEY</key>
	<string>AIzaSyBH_sTOMpCY789It6uY5AnLleNcZYjAMVg</string>
	<key>GCM_SENDER_ID</key>
	<string>1070409855681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>yappingchatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>yappingchatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070409855681:ios:fccfab8c13ce1e5be29a40</string>
</dict>
</plist>